@{
    Layout = "_Layout";
}

@model ToDoList.Models.Item

<h4>Add a new To-do</h4>
<p>@Html.ValidationMessageFor(model => model.CategoryId, "", new{ @style = "font-weight:600"})</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new{ @style = "font-weight:600"}) </p>

@using (Html.BeginForm())
{
  <h5> @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @Html.LabelFor(model => model.Category)
            @Html.DropDownList("CategoryId")
            Select due date:
            @Html.EditorFor(model => model.DueDate)

        <input type="submit" value="Add new To-do" />
    </h5>
}

<hr/>

<h6>@Html.ActionLink("Show all To-dos", "Index")
    @Html.ActionLink("Add new category", "Create", "Categories")
</h6>