@{
    Layout = "_Layout";
}
@model ToDoList.Models.Item

<h3><b>Edit</b></h3>

<h4>Edit this To-do: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ItemId)
   <h5> @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.Category)
    @Html.DropDownList("CategoryId")
    Mark as done
        @Html.CheckBoxFor(model => model.IsDone)
    </h5>

    <input type ="submit" value="Save" />


}

<hr/>

<h6>@Html.ActionLink("Back to list", "Index")</h6>